@model GlobalCityManager.Models.CityEdit

<h1>Add City</h1>
<div>
    @Html.ValidationSummary()
</div>
<form method="post" enctype="multipart/form-data" asp-controller="Country" asp-action="Create">
    <table>
        <tr>
            <th>@Html.LabelFor( c => c.Name )</th>
            <td>@Html.TextBoxFor( c => c.Name )</td>
        </tr>
        <tr>
            <th>@Html.LabelFor( c => c.CountryCode )</th>
            <td>@Html.DropDownListFor( c => c.CountryCode, Model.lstCountry, "--Select Country--" )</td>
        </tr>
        <tr>
            <th>@Html.LabelFor( c => c.District )</th>
            <td>@Html.TextBoxFor( c => c.District )</td>
        </tr>
        <tr>
            <th>@Html.LabelFor( c => c.Population )</th>
            <td>@Html.TextBoxFor( c => c.Population )</td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>
